{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<div id="myModal" class="modal fade">
      <div class="modal-dialog modal-login">
            <div class="modal-content">
                  <div class="modal-header">
                        <h4 class="modal-title">Member Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                        <form method="POST" id="myForm" action="{{ url_for('auth_login') }}">
                              {{ form.csrf }}
                              <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" id="username" placeholder="Username"
                                          name="username" required="required">
                              </div>
                              <div class="form-group">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" class="form-control" placeholder="Password" id="password"
                                          name="password" required="required">
                              </div>
                              <div class="form-group">
                                    <button type="submit" id="loginSubmit" class="btn btn-primary btn-block btn-lg">Log
                                          in</button>
                              </div>
                              {% if error is defined %}
                              <div class="alert alert-danger alert-dismissible fade show">
                                    {{ error }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                              </div>
                              {% endif %}
                        </form>
                  </div>
                  <div class="modal-footer">
                        <text>Looking to create an account? </text>
                        <a href="{{ url_for('auth_register') }}" style="color: #00a2ff">Sign up</a>
                  </div>
            </div>
      </div>
</div>

{% endblock %}