{% extends "layout.html" %}

{% block body %}
<div style="margin-top: 30px;" class="row justify-content-md-center">
  <form method="POST" action="{{ url_for('exercises_create') }}">
    <table>
      <tr>
        <td>
          {{ form.name.label }}
        </td>
        <td>
          {{ form.name }}
        </td>
        <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.description.label }}
        </td>
        <td>
          {{ form.description }}
        </td>
        <td>
          <ul>
            {% for error in form.description.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Add a new exercise" />
        </td>
      </tr>
      <!--input type="text" name="name" />
    <input type="text" name="description" />
    <input type="submit" value="Add a new exercise" /-->
  </form>
</div>
{% endblock %}