{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('exercise_change_description', exercise_id = exercise.id) }}">
  <table>
    <tr>
      <td>
        {{exercise.name}}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.description.label }}
      </td>
      <td>
        {{ form.description }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Update" />
      </td>
    </tr>
    
  <!--input type="text" name="description"/>
  <input type="submit" value="Update"/-->
</form>
{% endblock %}